.card-header {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 15px;
    padding: 15px;
}

hr {
    background-color: rgb(219, 228, 228);
    margin: 15px 0;
}

.coin-stats {
    padding: 45px;
}