.coin-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .chart-buttons {
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 25px;
        width: 25%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        
    }
}